---
const list = [
  [
    [`Principles to address Water-related DRR under the COVID-19 Pandemic`, ""],
    ["English", "en"],
    "",
  ],
  [
    [`新冠肺炎全球大流行期间水相关灾害防灾减灾的处理原则`, ""],
    ["Chinese", "zh"],
    "",
  ],
  [
    [
      `Principes pour la réduction des risques de catastrophes liées à l’eau (RRC) dans le cadre de la pandémie de COVID-19`,
      "",
    ],
    ["French", "fr"],
    "",
  ],
  [
    [
      `Principios para abordar la reducción del riesgo de desastres relacionados con el agua (RRD) bajo la pandemia COVID-19`,
      "",
    ],
    ["Spanish", "es"],
    "",
  ],
  [
    [
      `مبادئ معالجة الحد من مخاطر الكوارث (DRR) المتّصلة بالمياه في ظل وباء فيروس كورونا (كوفيد-19)`,
      "",
    ],
    ["Arabic", "ar"],
    "",
  ],
  [
    [
      `Принципы, направленные на снижение риска бедствий (СРБ), связанных с водой, в условиях пандемии COVID-19`,
      "",
    ],
    ["Russian", "ru"],
    "",
  ],
  [
    [`በኮቪድ-19 ወረርሽኝ ውስጥ ከውሃ ጋር የተዛመደ አደጋ ስጋት ቅነሳን የሚዳስሱ መርሆች`, ""],
    ["Amharic", "am"],
    "Mihretab Gebretsadik",
  ],
  [
    [
      `কোভিড-১৯ মহামারীর আওতায় পানি সম্পর্কিত দুর্যোগ ঝুঁকি হ্রাস (DRR) মোকাবেলায় নীতিমালা`,
      "",
    ],
    ["Bengali", "bn"],
    "Majadur Rahman Md",
  ],
  [
    [
      `კოვიდ-19-ის პანდემიის პირობებში წყალთან დაკავშირებული კატასტროფების რისკის შემცირების (DRR) პრინციპები`,
      "",
    ],
    ["Georgian", "ka"],
    "GWP Georgia",
  ],
  [
    [
      `कोविड-19 महामारी के तहत जल संबंधी आपदा जोख़िम न्यूनीकरण (डीआरआर) सिद्धांतों का मसौदा`,
      "",
    ],
    ["Hindi", "hi"],
    "",
  ],
  [
    [
      `Prinsip Konsep untuk Mengatasi Pengurangan Risiko Bencana yang Terkait dengan Air (PRB) dalam Pandemi COVID-19`,
      "",
    ],
    ["Indonesian", "id"],
    "",
  ],
  [
    [`新型コロナウイルス感染症大流行下で水関連災害 に対処するための原則`, ""],
    ["Japanese", "jp"],
    "",
  ],
  [
    [
      `코로나19 대유행에 따른 물 관련 재난위험경감(Disaster Risk Reduction, DRR) 원칙`,
      "",
    ],
    ["Korean", "ko"],
    "",
  ],
  [
    [
      `Суу жана COVID – 19 пандемиясынын шартына байланышкан кырсык тобокелдиктерин төмөндөтүүгө (КТТ) багытталган принциптер`,
      "",
    ],
    ["Kyrgyz", "ky"],
    "GWP Kyrgyzstan",
  ],
  [
    [
      `कोभिड-१९ को महामारीको समयमा जलजन्य विपद् जोखिम न्यूनीकरणलाई सम्बोधन गर्ने सिद्धान्तहरू`,
      "",
    ],
    ["Nepali", "ne"],
    "Narayan Prasad Subedi",
  ],
  [
    [
      `COVID-19 වසංගතය යටතේ ජලය ආශ්‍රිත ආපදා අවදානම් අවම කිරීම සදහා වූ මුලධර්ම`,
      "",
    ],
    ["Sinhalese", "si"],
    "S.P.B Illangasingha",
  ],
  [
    [
      `Mga Panuntunan upang Matugunan ang may Kaugnayan sa Tubig na ‘Disaster Risk Reduction’ (DRR) o Pagbabawas ng Panganib sa Kalamidad sa ilalim ng Pandemyang dulot ng COVID-19`,
      "",
    ],
    ["Tagalog", "tl"],
    "Vic Ballaran",
  ],
] as const;

const { url } = Astro;
---

<section id="documents" class="mx-auto max-w-screen-xl space-y-8 px-4">
  <h2 class="text-center">
    HELP Principles to address Water-related DRR under the COVID-19 Pandemic
  </h2>
  <ul class="grid gap-4 sm:auto-rows-fr sm:grid-cols-2 md:grid-cols-3">
    {
      list.map(([[article], [language, lang], author]) => {
        const isRtl = lang === "ar";
        return (
          <li dir={isRtl ? "rtl" : "ltr"}>
            <article
              class="group card relative isolate h-full overflow-hidden border border-main/35 transition focus-within:bg-main focus-within:text-white hover:bg-main hover:text-white"
              class:list={{ "text-right": isRtl }}
            >
              <div class="card-body">
                <small class="badge badge-primary badge-outline group-focus-within:text-white group-hover:text-white">
                  {language}
                </small>
                <h3 {lang} class="card-title text-base">
                  <a
                    href={new URL(`/docs/covid-19/${lang}.pdf`, url)}
                    class="outline-none after:absolute after:inset-0"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-astro-reload
                  >
                    {article}
                  </a>
                </h3>
                {author && (
                  <div class="card-actions mt-auto">
                    <address>by {author}</address>
                  </div>
                )}
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="absolute -bottom-4 end-0 -z-10 size-20 text-blue-100 transition-colors group-focus-within:text-blue-700 group-hover:text-blue-700"
              >
                <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
                <path d="M14 2v4a2 2 0 0 0 2 2h4" />
                <path d="M10 9H8" />
                <path d="M16 13H8" />
                <path d="M16 17H8" />
              </svg>
            </article>
          </li>
        );
      })
    }
  </ul>
</section>
