---
import Dropdown from "@/components/Dropdown.astro";
import { SITE_LINKS } from "@/constants.ts";
import type { Link, LinkBase } from "@/types";
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";
import { useTranslation, type AvailableLocales } from "i18n";

const { HOME, BRIEF, DOCUMENTS, COVID_19, NEWS, ABOUT, FLAGSHIP } = SITE_LINKS;

const currentLocale = Astro.currentLocale as AvailableLocales;

const t = useTranslation(currentLocale);

const links: Array<Link | (LinkBase & { links: Link[] })> = [
  { title: t("link.home"), href: getRelativeLocaleUrl(currentLocale, HOME) },
  {
    title: t("link.who-we-are"),
    href: getRelativeLocaleUrl(currentLocale, ABOUT),
  },
  {
    title: t("dropdown.what-we-do"),
    links: [
      {
        title: t("link.in-brief"),
        href: getRelativeLocaleUrl(currentLocale, BRIEF),
      },

      {
        title: t("link.documentation"),
        href: getRelativeLocaleUrl(currentLocale, DOCUMENTS),
      },
      {
        title: t("link.covid-19"),
        href: getRelativeLocaleUrl(currentLocale, COVID_19),
      },
    ],
  },
  {
    title: t("link.flagship-initiatives"),
    href: getAbsoluteLocaleUrl(currentLocale, FLAGSHIP),
  },
  {
    title: t("link.newsroom"),
    href: getRelativeLocaleUrl(currentLocale, NEWS),
  },
];
---

<nav>
  <ul class="flex gap-12 uppercase">
    {
      links.map((i) => {
        const isDropdown = "links" in i;
        return (
          <li class="hover:underline">
            {isDropdown ? (
              <Dropdown>
                <span slot="button">{i.title}</span>
                <ul class="rounded-lg bg-white py-2 normal-case text-black shadow">
                  {i.links.map(({ title, href }) => (
                    <li>
                      <a
                        class="block px-4 py-2 transition hover:bg-main/65"
                        class:list={[
                          { "bg-main/50": Astro.url.pathname === href },
                        ]}
                        {href}
                        set:text={title}
                      />
                    </li>
                  ))}
                </ul>
              </Dropdown>
            ) : (
              <a href={i.href} set:text={i.title} />
            )}
          </li>
        );
      })
    }
  </ul>
</nav>
